.addProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 90vh;
}

.addProduct .header {
    font-size: 30px;
    font-weight: 600;
    color: #4daaaa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.form form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headerIcon {
    margin-right: 25px;
    margin-top: 8px;
}

.submit {
    margin: auto;
    margin-top: 20px;
}

.submit h5 {
    text-align: center;
}

.addProduct .note {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 8px;
    color: #A5A5A5;
    cursor: pointer;
    padding: 0;
    margin-top: 2px;
    text-align: center;
}

.addProduct .note:hover {
    color: #4daaaa;
}

.social {
    margin-top: 25px;
}

@media only screen and (min-width: 500px) {
    .addProduct .form {
        min-width: 350px;
    }
}

@media only screen and (max-height: 600px) {
    .addProduct .header {
        font-size: 27px;
    }
}

@media only screen and (min-width: 1500px) {
    .addProduct .header,
    .addProduct .note {
        zoom: 111%;
    }
}

@media only screen and (min-width: 1600px) {
    .addProduct .header {
        zoom: 121%;
        margin-top: -27px;
    }
}

@media only screen and (min-width: 1700px) {
    .addProduct .header {
        zoom: 135%;
        margin-top: -55px;
    }
    .addProduct .note {
        zoom: 120%;
    }
}

@media only screen and (min-width: 1800px) {
    .addProduct .header {
        zoom: 145%;
    }
    .addProduct .note {
        zoom: 125%;
    }
}

@media only screen and (min-width: 3200px) {
    .addProduct .header {
        zoom: 290%;
    }
    .addProduct .note {
        zoom: 250%;
    }
}

@media only screen and (min-width: 5000px) {
    .addProduct .header {
        zoom: 380%;
    }
    .addProduct .note {
        zoom: 350%;
    }
}