.circle {
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.innerCircle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}