.submit {
    margin-top: 0px;
}

.submit h5 {
    text-align: center;
}

.Fpassword .noteBack,
.Fpassword .note {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 8px;
    color: #A5A5A5;
    padding: 0;
    margin-top: 2px;
}

.Fpassword .noteBack {
    padding-top: 15px;
}

.Fpassword .noteBack:hover {
    cursor: pointer;
    color: #A689E3;
}

@media only screen and (min-width: 500px) {
    .signInForm .form {
        min-width: 400px;
    }
}