.socialBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: #A5A5A5 solid 0.5px;
    border-radius: 5px;
    color: #A5A5A5;
    height: 30px;
    width: 100%;
    cursor: pointer;
}

.socialBox:hover {
    border: #4267B2 solid 1px;
    color: #4267B2;
    font-weight: 500;
}

.socialBox svg {
    margin-right: 10px;
    width: 20px;
    fill: #4267B2;
}

.socials .note {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 8px;
    color: #A5A5A5;
    cursor: pointer;
    padding: 0;
    margin-top: 5px;
    text-align: center;
    padding: 0px;
}

.socials {
    margin-bottom: 15px;
}

@media only screen and (max-height: 700px) {
    .socialBox {
        height: 32px;
        margin: 15px 0px;
    }
}

@media only screen and (min-width: 1500px) {
    .socialBox {
        height: 30px;
    }
}

@media only screen and (min-width: 1600px) {
    .socials .note {
        margin-top: 15px;
    }
    .socialBox {
        zoom: 111%;
    }
}

@media only screen and (min-width: 1700px) {
    .socials .note {
        margin-top: 15px;
    }
    .socialBox {
        zoom: 119%;
    }
}

@media only screen and (min-width: 1900px) {
    .socialBox {
        zoom: 138%;
    }
}

@media only screen and (min-width: 2500px) {
    .socials {
        zoom: 158%;
    }
}

@media only screen and (min-width: 3200px) {
    .socials {
        zoom: 250%;
    }
}

@media only screen and (min-width: 5000px) {
    .socials {
        zoom: 320%;
    }
}